textarea.task-name {
    min-height: 150px;
    max-height: 400px;
}

input.task-status {
    width: 30px;
    height: 30px;

    vertical-align: middle;

    cursor: pointer;
}

.parsley-errors-list {
    margin-top: 10px;
    padding-left: 0;

    list-style: none;
}

.parsley-errors-list li {
    color: #e30000;
}

.table-wrapper {
    overflow: hidden;
    text-overflow: clip;
    overflow-y: auto;
}

#tasksTable tr td:nth-child(2) {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
